.mainChat
  .mainChat__header
    .mainChat__header--left-currentGroup
      .mainChat__header--left-groupName
        = @group.name
      .mainChat__header--left-groupMembers
        Member:
        - @group.users.each do |user|
          = user.name
    .mainChat__header--right-editBtn
      = link_to edit_group_path(@group) do
        Edit

  .mainChat__messageList
    .mainChat__messageList--details
      = render @messages

  .mainChat__messageForm
    .mainChat__messageForm--input
    = form_for [@group, @message] do |f|
      = f.text_field :body, class:" mainChat__messageForm--text", placeholder:"type a message" 
      = f.label :image do
        = icon('fas', 'image', class:'mainChat__messageForm--image')
        = f.file_field :image, class:"mainChat__messageForm--hidden"
      = f.submit 'Send', class:"mainChat__messageForm--submitBtn"