.sideBar
  .sideBar__header
    .sideBar__header--userName
      #{current_user.name}
    %ul.sideBar__menu
      %li.sideBar__menu-newGroupIcon
        = link_to new_group_path do
          = icon('fas', 'edit')
      %li.sideBar__menu-userSettingIcon
        = link_to edit_user_path(current_user)  do
          = icon('fas', 'cog')

  .sideBar__aboutGroup
    .sideBar__aboutGroup-detail
      .sideBar__aboutGroup--groupName
        = link_to "#" do
          techchamp
      .sideBar__aboutGroup--groupLatestMessage
        = link_to "#" do
          まだメッセージはありません。
    
        .sideBar__aboutGroup-detail
      .sideBar__aboutGroup--groupName
        = link_to "#" do
          techchamp2
      .sideBar__aboutGroup--groupLatestMessage
        = link_to "#" do
          まだメッセージはありません。
